@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-primary: 216, 172, 105;
		--color-secondary: 237, 28, 36;
	}
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-300, currentColor);
	}
}

button {
	@apply cursor-pointer;
}

@media print {
	.no-print {
		display: none;
	}
}
