@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
	--color-primary: #d8ac69;
	--color-secondary: #ed1c24;
}

html {
	scrollbar-gutter: stable;
}

body {
	font-family: "Inter", sans-serif;
}
